@page
@model SkansenCodeFirst.Pages.Zabytki.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<h4>Zabytek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Zabytek.ZabytekId" />
            <div class="form-group">
                <label class="control-label">Nazwa Zabytku</label>
                <input asp-for="Zabytek.ZabytekNazwa" class="form-control" />
                <span asp-validation-for="Zabytek.ZabytekNazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zabytek.ObrazUrl" class="control-label"></label>
                <input asp-for="Zabytek.ObrazUrl" class="form-control" />
                <span asp-validation-for="Zabytek.ObrazUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Zabytek.WymagaRenowacji" /> @Html.DisplayNameFor(model => model.Zabytek.WymagaRenowacji)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Wróc do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
