@page
@model SkansenCodeFirst.Pages.Pracownicy.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj Nowy</h1>

<h4>Pracownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pracownik.Imie" class="control-label"></label>
                <input asp-for="Pracownik.Imie" class="form-control" />
                <span asp-validation-for="Pracownik.Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pracownik.Nazwisko" class="control-label"></label>
                <input asp-for="Pracownik.Nazwisko" class="form-control" />
                <span asp-validation-for="Pracownik.Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pracownik.Telefon" class="control-label"></label>
                <input asp-for="Pracownik.Telefon" class="form-control" />
                <span asp-validation-for="Pracownik.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pracownik.PortretUrl" class="control-label"></label>
                <input asp-for="Pracownik.PortretUrl" class="form-control" />
                <span asp-validation-for="Pracownik.PortretUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Wróc do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
